<section class="page">
  <header class="page__header">
    <h2>{{ isEdit() ? 'Editar semestre' : 'Novo semestre' }}</h2>
    <a class="btn btn--ghost" routerLink="/app/semestres">Voltar</a>
  </header>

  <div class="card">
    <form [formGroup]="form" (ngSubmit)="save()" class="form" novalidate>
      <div class="field">
        <label for="course">Curso</label>
        <select
          id="course"
          formControlName="curriculumId"
          [attr.aria-invalid]="
            form.controls.curriculumId.invalid && form.controls.curriculumId.touched
          "
          [attr.aria-describedby]="form.controls.curriculumId.invalid ? 'course-err' : null"
          required
        >
          <option [ngValue]="null" disabled>Selecione...</option>
          @for (c of courses(); track c.id) {
          <option [value]="c.id">{{ c.name }} ({{ c.totalHours }}h)</option>
          }
        </select>
        @if (form.controls.curriculumId.touched && form.controls.curriculumId.invalid) {
        <div id="course-err" class="err">Selecione um curso.</div>
        }
      </div>
      <div class="field">
        <label for="number">Número do semestre</label>
        <select
          id="number"
          formControlName="number"
          [attr.aria-invalid]="form.controls.number.invalid && form.controls.number.touched"
          [attr.aria-describedby]="form.controls.number.invalid ? 'index-err' : null"
          required
        >
          <option [ngValue]="null" disabled>Selecione...</option>
          <option [ngValue]="1">1</option>
          <option [ngValue]="2">2</option>
        </select>

        @if (form.controls.number.touched && form.controls.number.invalid) {
        <div id="index-err" class="err">Selecione 1 ou 2.</div>
        }
      </div>

      <div class="actions">
        <a class="btn btn--ghost" routerLink="/app/semestres">Cancelar</a>
        <button class="btn btn--primary" [disabled]="form.invalid">
          {{ isEdit() ? 'Salvar alterações' : 'Criar semestre' }}
        </button>
      </div>
    </form>
  </div>
</section>
