<section class="page">
  <header class="page__header">
    <h2>{{ isEdit() ? 'Editar disciplina' : 'Nova disciplina' }}</h2>
    <a class="btn btn--ghost" routerLink="/app/disciplinas">Voltar</a>
  </header>

  <div class="card">
    <form [formGroup]="form" (ngSubmit)="save()" class="form" novalidate>
      <div class="grid">
        <div class="field">
          <label for="name">Nome</label>
          <input
            id="name"
            type="text"
            formControlName="name"
            placeholder="Ex.: Banco de Dados"
            [attr.aria-invalid]="form.controls.name.invalid && form.controls.name.touched"
            [attr.aria-describedby]="form.controls.name.invalid ? 'name-err' : null"
            required
          />
          @if (form.controls.name.touched && form.controls.name.invalid) {
          <div id="name-err" class="err">Informe o nome.</div>
          }
        </div>

        <div class="field">
          <label for="code">Código</label>
          <input
            id="code"
            type="text"
            formControlName="code"
            placeholder="Ex.: BD"
            [attr.aria-invalid]="form.controls.code.invalid && form.controls.code.touched"
            [attr.aria-describedby]="form.controls.code.invalid ? 'code-err' : null"
            required
          />
          @if (form.controls.code.touched && form.controls.code.invalid) {
          <div id="code-err" class="err">Informe o código.</div>
          }
        </div>
      </div>

      <div class="actions">
        <a class="btn btn--ghost" routerLink="/app/disciplinas">Cancelar</a>
        <button class="btn btn--primary" [disabled]="form.invalid">
          {{ isEdit() ? 'Salvar alterações' : 'Criar disciplina' }}
        </button>
      </div>
    </form>
  </div>
</section>
